<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="AutomationSuite" parallel="classes" verbose="1">
    <test name="ContactListAppTests">
        <classes>
            <!-- Add your test classes here -->
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>
</suite>
